<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="volumeUp" value=""/>
		<add key="volumeDown" value=""/>
		<add key="playPauseTrack" value=""/>
		<add key="nextTrack" value=""/>
		<add key="previousTrack" value=""/>
		<add key="colorMode" value="Light"/>
		<add key="autoUpdate" value="False"/>
	</appSettings>
</configuration>